header {
  padding: 20px;
  text-align: center;
  background: #450780;
  color: #fff;
}

body {
  text-align: center;
  padding: 20px;
  background-color: palevioletred;
  border-style: double;
  border-color: #fff;
  color: #fff;
}

.start{
  padding: 10px;
  text-align: left;
  color: #fff;
  text-decoration: none;
}

.timer {
  padding: 10px;
  text-align: right;
  color: #fff;
}


button {
  font-size: large;
  cursor: pointer;
  background-color: rgb(230, 230, 230);
  color: black;
  border: 3px;
  border-style: initial;
  border-radius: 3px;
  padding: 5px;
}

.answers {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.questionScreen {
  display: block;
  margin: 8rem auto 0 auto;
  max-width: 800px;
}

.scoreScreen {
  text-align: center;
  max-width: 800px;
  display: block;
  margin: 10px;
}

#submit {
  font-size: large;
  color: black;
  background-color: rgb(255, 238, 244);
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin: 10px;
}

#submit:hover{
  background-color: orange;
  color: white;
}

#startButton:hover{
  background-color: orange;
  color: #fff;
}